/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --cover-image: url("../images/cover-image-dark.png");
  --color-background-color: #000028;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --accent-color-menu: #FF0070;
  --color-section-title: #FF0070;
  --color-reason-title: #000028;
  --color-title__description: #000028;
  --color-reason__text: #F1B2CE;
  --accent-color-menu-button: #FF007066;
  --rectangle-background-image-top: url("../images/Rectangle_77.png");
  --rectangle-background-image-bottom: url("../images/Rectangle_79.png");
}

.theme-dark .rec_element {
  display: block;
}

.theme-dark .rec_element::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px #FF0070;
  position: absolute;
  margin-top: -17px;
  margin-left: 40px;
  margin-right: 0px;
}


/*
@media (prefers-color-scheme: dark) {
 :root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  /*
  --cover-image: url("../images/cover-image-dark.png");
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --accent-color-menu: #FF0070;
  --color-section-title: #FF0070;
  --color-reason-title: #000028;
  --color-title__description: #000028;
  --color-reason__text: #F1B2CE;
  --accent-color-menu-button: #FF007066;
}
}
*/