/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --cover-image: url("../images/cover-image-dark.png");
  --color-background-color: #000028;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --accent-color-menu: #FF0070;
  --accent-color-menu-button: #FF007066;
  --color-section-title: #FF0070;
  --color-reason-title: #000028;
  --color-title__description: #000028;
  --color-reason__text: #F1B2CE;
  --rectangle-background-image-top: url("../images/Rectangle_77.png");
  --rectangle-background-image-bottom: url("../images/Rectangle_79.png");
  --main-font-family: 'IBM Plex mono', monospace;
}